<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="/logs" />
  <variable name="componentName" value="HealthChecks.ExampleCrud.SomeModelService" />
  <variable name="subComponentName" value="api" />

  <targets>
    <target name="Console" xsi:type="Console">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${longdate}" />
        <attribute name="UtcDate" layout="${longdate:universalTime=true}" />
        <attribute name="Level" layout="${level:upperCase=true}"/>
        <attribute name="ThreadId" layout="${threadid}"/>
        <attribute name="CorrelationId" layout="${mdlc:item=CorrelationId}" />
        <attribute name="CorrelationPath" layout="${mdlc:item=CorrelationPath}" encode="false" />
        <attribute name="Exception" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="ExceptionMessage" layout="${exception:format=Message:maxInnerExceptionLevel=10}" />
            <attribute name="Type" layout="${exception:format=Type}" />
            <attribute name="Data" layout="${exception:format=Data}" />
            <attribute name="Method" layout="${exception:format=Method}" />
            <attribute name="StackTrace" layout="${exception:format=StackTrace}" />
          </layout>
        </attribute>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Data" layout="${event-properties:item=data}" encode="false" />
      </layout>
    </target>
    <target
      name="General"
      xsi:type="File"
      filename="${logDirectory}/dev.${componentName}.${subComponentName}.log.json"
      header="${longdate} ************************ Logging started ************************"
      footer="${longdate} ************************ Shutdown ************************"
      archiveFileName="${logDirectory}/Archive/dev.${componentName}.${subComponentName}.{#}.archive.json"
      archiveNumbering="Date"
      maxArchiveFiles="15"
      archiveEvery="Day"
      archiveDateFormat="yyyy-MM-dd"
      concurrentWrites="true"
      archiveOldFileOnStartup="true">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${longdate}" />
        <attribute name="UtcDate" layout="${longdate:universalTime=true}" />
        <attribute name="Level" layout="${level:upperCase=true}"/>
        <attribute name="ThreadId" layout="${threadid}"/>
        <attribute name="CorrelationId" layout="${mdlc:item=CorrelationId}" />
        <attribute name="CorrelationPath" layout="${mdlc:item=CorrelationPath}" encode="false" />
        <attribute name="Exception" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="ExceptionMessage" layout="${exception:format=Message:maxInnerExceptionLevel=10}" />
            <attribute name="Type" layout="${exception:format=Type}" />
            <attribute name="Data" layout="${exception:format=Data}" />
            <attribute name="Method" layout="${exception:format=Method}" />
            <attribute name="StackTrace" layout="${exception:format=StackTrace}" />
          </layout>
        </attribute>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Data" layout="${event-properties:item=data}" encode="false" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="General">
      <filters>
        <when condition="starts-with('${logger}','NServiceBus')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="NServiceBus.*" minLevel="Info" writeTo="General" />
  </rules>
</nlog>