<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" autoReload="true" >

  <targets xdt:Transform="RemoveAll" />
  <targets xdt:Transform="Insert">

    #{if Log.File.Enable}
    <target
      name="General"
      xsi:type="File"
      filename="#{Log.File.Directory}\#{Log.HostPrefix}.${componentName}.${subComponentName}.log.json"
      header="${longdate} ************************ Logging started ************************"
      footer="${longdate} ************************ Shutdown ************************"
      archiveFileName="#{Log.File.Directory}\Archive\#{Log.HostPrefix}.${componentName}.${subComponentName}.{#}.archive.json"
      archiveNumbering="Date"
      maxArchiveFiles="#{Log.File.MaxArchiveFiles}"
      archiveEvery="Day"
      archiveDateFormat="yyyy-MM-dd"
      concurrentWrites="true"
      archiveOldFileOnStartup="true">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${longdate}" />
        <attribute name="UtcDate" layout="${longdate:universalTime=true}" />
        <attribute name="Level" layout="${level:upperCase=true}"/>
        <attribute name="ThreadId" layout="${threadid}"/>
        <attribute name="CorrelationId" layout="${mdlc:item=CorrelationId}" />
        <attribute name="CorrelationPath" layout="${mdlc:item=CorrelationPath}" encode="false" />
        <attribute name="Exception" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="ExceptionMessage" layout="${exception:format=Message:maxInnerExceptionLevel=10}" />
            <attribute name="Type" layout="${exception:format=Type}" />
            <attribute name="Data" layout="${exception:format=Data}" />
            <attribute name="Method" layout="${exception:format=Method}" />
            <attribute name="StackTrace" layout="${exception:format=StackTrace}" />
          </layout>
        </attribute>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Data" layout="${event-properties:item=data}" encode="false" />
      </layout>
    </target>
    #{/if}

    #{if Log.EventLog.Enable}
    <target
      name="EventLogTarget"
      type="EventLog"
      source="#{Log.EventLog.ApplicationName}"
      log="#{Log.EventLog.LogName}"
      layout="${longdate} | ${level:uppercase=true:padding=-5} | ${threadid:padding=5} | ${message} | ${exception:format=tostring}">
    </target>
    #{/if}

  </targets>

  <rules xdt:Transform="RemoveAll" />
  <rules xdt:Transform="Insert">
    #{if Log.File.Enable}
    <logger name="*" minLevel="#{Log.File.Level}" writeTo="General">
      <filters>
        <when condition="starts-with('${logger}','NServiceBus')" action="Ignore" />
      </filters>
    </logger>
    <logger name="NServiceBus.*" minLevel="Info" writeTo="General" />
    #{/if}

    #{if Log.EventLog.Enable}
    <logger name="*" minLevel="#{Log.EventLog.Level}" writeTo="EventLogTarget"/>
    #{/if}
  </rules>
</nlog>